mixin projectslist(projects)
  h2 Projects
  table(class="table")
    thead
      tr
        th Id
        th Title
        th Company Name
        th Number
        th Start Date
        th Due Date
    each project in projects
      tr
        td #{project.id}
        td #{project.title}
        td #{project.companyname}
        td #{project.number}
        td #{project.startdate}
        td #{project.duedate}
      